@model ProvidersApp.Models.personal_data

@{
    ViewBag.Title = "Подробно";
}



<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            Номер паспорта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passport_info)
        </dd>

        <dt>
            День рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            Пол
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к записям", "Index")
</p>
